.bash_history
.gazebo
.ignition
.sdformat
.ros

build
install
launch
log
shm

gazebo/.bash_history
gazebo/.ignition
gazebo/.sdformat
gazebo/.config
gazebo/*.so
gazebo/vel
gazebo/.gazebo/client*
gazebo/.gazebo/server*
gazebo/.gazebo/ogre.log
gazebo/.gazebo/models/iris_with_standoffs
gazebo/.gazebo/models/quadrotor
gazebo/.gazebo/models/simple_bot
gazebo/.gazebo/models/standard_vtol
gazebo/.gazebo/worlds/iris_ardupilot.world

src/sim
src/slam

run/test
run/test-gui

scripts/__pycache__

*.sw*
